@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
html,
body {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background: #fdfdfd;
  font-weight: 400;
}

input,
label,
span {
  font-family: "PT Sans", sans-serif !important;
}

a {
  text-decoration: none;
}
