@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
*,
html,
body {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #eef2f7;
  font-weight: 400;
  line-height: 1.6;
}

input,
textarea,
label,
span {
  font-family: "Montserrat", sans-serif !important;
}

a {
  text-decoration: none;
}
